body {
	font-family: "微软雅黑";
	padding: 0px;
	margin: 0px;
}

.container-fluid .logo {
	padding: 5px 15px;
}

.jumbotron {
	background-color: gold;
	padding: 24px 0;
}

.banner_title {
	margin-top: 20px;
}

.navbar {
	margin-bottom: 0;
}

/*中等屏幕（桌面显示器，小于等于992px时）*/
@media (max-width: 992px) {
	.banner_title {
		margin-top: 0px;
	}
}

.thumbnail {
	max-width: 244px;
	margin: 10px auto;
}

#search_list{
	position: fixed;
	z-index: 99998;
	background-color: #f00;
}

* {
	margin: 0;
	padding: 0;
}

.slide_pics {
	width: 760px;
	height: 300px;
	background-color: gold;
	overflow: hidden;
	position: relative;
	list-style: none;
	
}

.slide_pics li {
	float: left;
	
}
.slide_pics li:nth-child(1) {
	/*width: 200px;*/
	margin-left: -200px;
}

.slide_pics li:nth-child(2) {
	margin-left:auto;
}

.slide_pics li:nth-child(3) {
	float: right;
	margin-right: -200px;
}


